Exercises
Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

s = "Hi there Sam!"

In [2]:
s = "Hi there Sam!"

In [3]:
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [4]:
txt = "The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth", diameter=12742)

In [5]:
print(txt)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [10]:
t = (1, 2, 3)
list = [1, 2, 3, 4, 5]

#tuple is immutable, and list is muutable

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [11]:
def domain(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Email")
domain(email)

Emailsathishraja@gmail.com
Your domain is: gmail.com

'domain.com'
** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [12]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [13]:
findDog("I like dog")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [15]:
countDog("I like having a dog as a dog is cute")

2

Problem

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases

In [16]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [17]:
caught_speeding(100, True)

'Big Ticket'

In [18]:
caught_speeding(80, True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [19]:
j=0
print("Employees Salary")
emp=[10000, 15000, 30000, 14500, 20000]
for i in emp:
  print(i)
  j=j+i
print("Total Salary Expenditure:",j)

Employees Salary
10000
15000
30000
14500
20000
Total Salary Expenditure: 89500

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [20]:
d1 = {'Empid', 'Empname', 'Basicpay'}
d2 = {'DeptName', 'DeptId'}
d2.update(d1)
print(d2)

{'Basicpay', 'Empname', 'DeptName', 'Empid', 'DeptId'}